:root {
  --first-color: #d3ae3c;
  --second-color: #1d1c21;
  --gris-claro: #efeeea;
  --gris-oscuro: #827d84;
}

.container li {
  text-transform: uppercase;
  color: var(--first-color);
  text-decoration: none;
  list-style: none;
}

.header__content {
  color: chocolate;
}

@media (min-width: 320px) {
  .header__content {
    background-color: brown;
    height: 100px;
    width: 100%;
    color: white;
  }
}

@media (min-width: 768px) {
  .header__content {
    background-color: green;
  }
}

@media (min-width: 1200px) {
  .header__content {
    background-color: grey;
  }
}
