<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        h1 Pug con Gulp
        h2 Hello world!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptas voluptate vel laudantium tempora est quibusdam quia temporibus, vitae, eaque at porro magni ratione expedita officia voluptatem laborum consequuntur asperiores.  
        article.blue
        script(src="js/scripts-min.js")   
