.container li {
    text-transform: uppercase;
    color: var(--first-color);
    text-decoration: none;
    list-style: none;
}

.header__content {
    color: chocolate;
    @include breakpoint(mobile) {
        background-color: brown;
        height: 100px;
        width: 100%;
        color: white;
    }
    @include breakpoint(tablet) {
        background-color: green;
    }
    @include breakpoint(desktop) {
        background-color: grey;
    }
}
