<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        block header 
        block hero
        block welcome
        block practice
        block ottorneys
        block experiencie
        block form
        block news
        block testimonial
        block footer
        script(src="scripts-min.js") 