:root {
    --first-color: #d3ae3c;
    --second-color: #1d1c21;
    --gris-claro: #efeeea;
    --gris-oscuro: #827d84;
}
@import 'utils/variables';
@import 'utils/breakpoint';
@import 'pages/header';
